#preview:fullscreen
{
    height: 730px;
}
.cm-matchhighlight 
{
    background-color: silver; 
}
/*.CodeMirror
{
    height: auto;
}*/
.CodeMirror-selection-highlight-scrollbar 
{
    background-color: cyan;
}
.editor-button
{
    color: white;
    background-color: grey;
    font-family: "Jura",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace;
    border-radius: 0px;
}
#preview
{
    height: 650px;
    width: 100%;
}
#engine
{
    position: absolute;
    left: 130px;
    top: 35px;
}
#showcase
{
    position: absolute;
    left: 390px;
    top: 35px;   
}
#download
{
    position: absolute;
    left: 650px;
    top: 35px;
}
#about
{
    position: absolute;
    left: 910px;
    top: 35px;
}
#logo
{
    height: 75px;
    width: 75px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 15px;
}
select
{
    border-radius: 15px;
    width: 250px;
    padding: 8px;
    background-color: darkorchid;
    border: 2px black solid;
    font-size: 22px;
    font-family: "Jura",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace;
    color: white;
    /*border: 3px black solid;*/
}
#menu
{
    border-radius: 15px;
    background: linear-gradient(purple,darkorchid,violet,pink);
    height: 100px;
}
h1,h2,h3,h4,h5,h6 
{
    font-family: "Jura",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace; 
}
a
{
    color: blue;
}
p,small,a,summary
{
    font-family: "Jura",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace;
}
b
{
    font-family: "Jura",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace;
    color: red;
}
body
{
    font-size: 22px;
}
h2
{
    color: brown;
}
h1
{
    color: maroon;
}
ul,ol,li,th,td,table,tr
{
    font-size: 32px;
    font-family: "Jura",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace;
}
table,td,tr,th
{
    border: 3px black solid;
}
table
{
    border-radius: 15px;
}
kbd
{
    background-color: silver;
    color: white;
}
.game-image
{
    border-radius: 15px;
    border: 3px black solid;
}
.app-image
{
    height: 400px;
    width: 1000px;
    border-radius: 15px;
    border: 3px black solid;
}
.experiment-image
{
    height: 400px;
    width: 1000px;
    border-radius: 15px;
    border: 3px black solid;
}
select,option
{
    font-family: "Jura","Saira",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace;
}
option
{
    font-family: monospace;
}
p,b,p,small,a,summary,ul,ol,li,th,td,table,tr 
{
    font-family: "Jura","Saira",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace;
} 
#trybtn
{
    height: 75px;
    width: 200px;
    font-family: "Jura","Saira",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace;
    background: linear-gradient(maroon,red,orange,yellow);
    border-radius: 20px;
    color: white;
    font-size: 28px;
}
#dldirbtn
{
    height: 75px;
    width: 200px;
    font-family: "Jura","Saira",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace;
    background: linear-gradient(darkblue,blue,dodgerblue,cyan);
    border-radius: 20px;
    color: white;
    font-size: 28px;
}